body {
  background-image: url('img/deathstar.png');
}
#colpad {
  padding: 2%;
}
#trooper {
  max-width: 40%;
  max-height: 40%;
}
#filmPoster {
  max-width: 10%;
  max-height: 10%;
  padding-right: 10px;
}
#filmPoster:hover {
  max-width: 50%;
  max-height: 50%;
}
#hideDetails {
  width: 150px;
  background-color: black;
  color: dodgerblue;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
h1,
h2 {
  color: white;
  display: inline-block;
  margin: auto;
  padding: 15px 0 0 15px;
}
#content {
  display: flex;
  align-items: left;
  justify-content: left;
}
li {
  list-style: none;
  color: dodgerblue;
  font-size: 1.2em;
  border: solid 1px lightgray;
  padding: 5px;
  background-color: black;
}
a:hover,
#hideDetails:hover,
#liurl:hover,
#namelist:hover,
#namelistli:hover {
  background-color: dodgerblue;
  color: white;
}
a {
  color: dodgerblue;
  background-color: black;
}
#namelist {
  text-decoration: none;
  border: none;
}
