img {
  max-width: 25%;
  max-height: 25%;
}
#hideDetails {
  width: 150px;
  background-color: black;
  color: dodgerblue;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
body {
  background-image: url('img/deathstar.png');
}
#other {
  padding: 10%;
}
h1,
h2 {
  color: white;
}
#content {
  display: flex;
  align-items: left;
  justify-content: left;
}
#traits {
  font-weight: bold;
}
li {
  list-style: none;
  color: dodgerblue;
  font-size: 1.2em;
  border: solid 1px lightgray;
  padding: 5px;
  background-color: black;
}
a:hover,
#hideDetails:hover,
#liurl:hover,
#namelist:hover,
#namelistli:hover {
  background-color: dodgerblue;
  color: white;
}
a {
  color: dodgerblue;
  background-color: black;
  font-size: 1.2em;
}
#namelist {
  text-decoration: none;
  border: none;
}
